:root {
  --background-grey: #E6E9FB;
  --title-black: #0F172A;
  --message-black: #374151;
  --blank-star: #E2E8F0;
}

.App {
  background-color: var(--background-grey);
  display: grid;
  place-items: center;
}

footer {
  position: fixed;
  bottom: 5px;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  background-color: #ffffff;
}
